:root{
    --dark-color: #c10100;
    --secand-color:#FFCDD2;
    --third-color: #da6e79;
}
body{
    font-family: "Roboto", sans-serif;
 

}
.navbar{
    background-color: var(--dark-color);
}
.navbar-brand img {
    padding-left: 20;
    height: 40px;
}
   .navbar .navbar-nav .nav-link {
       font-weight: 600;
       color: #fff ;
   }
   .navbar .navbar-nav .nav-link.active,
   .navbar .navbar-nav .nav-link:focus,
   .navbar .navbar-nav .nav-link:hover
   {

    color:var(--secand-color);
   }
  
   .navbar .navbar-toggler
   {
    color: #fff;
    font-size: 25px;
   }
         .navbar .navbar-toggler :focus {
             box-shadow: none;
         }

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus
{
        background-color: #fff;
            border-radius: 0%;
            color: var(--dark-color);
            font-size: medium;
            border-color: #c10100;
            font-weight: bold;
   
}

#about{
    padding: 15px;
    font-family: "Roboto",
        sans-serif;;
    margin:15px ;
}
  .jumbotron {
      background: url('your-image.jpg') no-repeat center/cover;
      height: 500px;
  }

  .overlay {
      background-color: rgba(0, 0, 0, 0.6);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .overlay h1 {
      color: #fff;
      font-size: 48px;
  }

  .overlay p {
      color: #fff;
      font-size: 24px;
  }

         table {
             margin-top: 20px;
         }
    
         th {
             background-color: #dc3545;
             color: var(--dark-color);
         }
    
         td {
             background-color: #fff;
             color: #fff;
         }
    
         tbody tr:nth-child(even) {
             background-color:var(--dark-color);
         }
    
         tbody tr:nth-child(odd) {
             background-color: var(--third-color);
         }
#footer{
    background-color: var(--dark-color);
}
.text-center{
    background-color: var(--dark-color);
    color: #fff
    ;
}
.text-center,.d-flex {
    background-color: var(--dark-color);
    color: #fff;
}


